<table mat-table [dataSource]="tableData">
  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef>Navn</th>
    <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Mængde</th>
    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="itemId">
    <th mat-header-cell *matHeaderCellDef>Varenummer</th>
    <td mat-cell *matCellDef="let element">{{element.itemId}}</td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef>Lokation</th>
    <td mat-cell *matCellDef="let element">{{element.location}}</td>
  </ng-container>

  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="openUpdateDialog(element)">Redigér</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn">Slet</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button mat-raised-button color="primary" (click)="openAddDialog()">Tilføj Ny</button>
